<h1>Create a new cocktail</h1>

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.input :photos, as: :attachinary %>
  <%= f.submit "Add a cocktail", class: "btn btn-primary" %>
<% end %>

<br>
<br>
<%= link_to 'Home', cocktails_path, class: "btn btn-primary" %>
