<h1><%= @cocktail.name %></h1>

<%= link_to 'Edit cocktail', edit_cocktail_path(@cocktail)%>

<h3>Ingredients</h3>
<% @doses.each do |dose| %>
  <p> - <%= dose.description %> <%= dose.ingredient.name.capitalize %> </p>
  <%= link_to edit_cocktail_dose_path(@cocktail, dose) do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end %>
  <%= link_to cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } do %>
    <i class="fa fa-trash" aria-hidden="true"></i>
  <% end %>
<%end%>

<p>---------------</p>

<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

<%= link_to 'Home', cocktails_path, class: "btn btn-primary" %>
